

body {
  margin: 0;
  padding: 0;
font-family: 'Open Sans', sans-serif;
  color: #646464;
  background: white;
  font-size: 100%;
  font-weight: 100;
  line-height: 1.4;
}

.firstheader {
  font-style: normal;
  color: #000000;
  opacity:0.7;
}

.navbar {
    width: 100%;
    height: 35px;
    position: fixed;
    background: rgba(255,255,255, 0.7);
    list-style: none;
    float: right;
    font-size: 20px;
    z-index: 20000;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.navbar-collapse.collapse.in {
  background: rgba(255,255,255, 0.7);
}

.navbar-collapse.collapse.in ul {
  display: block;
}

ul {
  list-style-type: none;
}


.container {
  position: relative;
  margin-left: auto;
  max-width: 100%;
  margin-right: auto;
  font-size: .875em; //14px
  padding-bottom: 40px;
  @media only screen and (min-width:768px) {
    max-width: 700px;  
  }
  @media only screen and (min-width:1000px) {
    max-width: 920px;  
  }

  .inner {
    max-width: 66%;
  }
}

.mod-inline, 
.caption {
  float: right;
  clear: both;
  position: relative;
  overflow: hidden;
  width: 30%;
  
  h3 {
    font-weight: 700;
    color: #000;
    line-height: 1.2;
    font-size: 1em;
    padding-top: 1em;
    border-top: 2px solid;
    margin: 0 ;
  }
  p, li {
    font-size: .75rem;
    line-height: 1.6;
  }
}

[class^="img"] {
  background-attachment: fixed;
  height: 200px;

  padding: 40px;
  display: table;
  width: 100%;


  h3 {
    display:table-cell;
    vertical-align: middle;
    font-size: 60px;
    text-align: center;
    color: #fff;
  }
  + .container .caption {
    background: white;
    padding: 20px;
    margin-top: -50px;
    h3 {
      border-top: none;
      padding-top: 0;
    }
  }
}

.img1 {
  background: url(img/art2.jpeg) no-repeat center bottom / cover;
 height: 100%;
 

}

.btn-circle {
width: 70px;
   height: 70px;
   margin-top: 55px;
   margin-left: 45%;
   padding: 7px 16px;
   border: 2px solid #fff;
   border-radius: 100%!important;
   font-size: 40px;
   color: #fff;
   background: 0 0;
   -webkit-transition: background .3s ease-in-out;
   -moz-transition: background .3s ease-in-out;
   transition: background .3s ease-in-out;
   text-align: center;
}

.btn-circle .glyphicon {
  width: 100px;
    font-size: 50px;
    margin-left: -30px;
}


.img2 {
  height: 300px;
  background: url(img/nobrainer3.jpg) no-repeat center center / cover;
    background-attachment: fixed;
}

.img3 {
  height: 300px;
  background-color: #39CCCC;
}

html, body {
  /*   height: 100%; */
  overflow: hidden;
  overflow-y: auto;
}

// animation
.os-animation{ 
visibility: hidden;
}

.os-animation.animated{
visibility: visible;
}

.btn {
  background-color: #000000;
  opacity:0.7;
}

.navbar {
  
  font-color: white;
}

.letterpress2 {
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    letter-spacing: -.05em;
    max-width: 60vw;
    font-size: 60px;
    width: 485px;
    height: 150px;
    padding: 10px;
    border: 10px solid white;
    margin-top: 100 auto 0 0;
    font-weight: 300;
}

.box {
  margin-top: 600px;
}

.container {
  text-align: center;
}

.container .img {
   margin: 15;
    width: 100%;
    height: 100%;
     background-size: cover;
     vertical-align: center;
     display: block;

}



.nobrainer {
     font-family: 'Lato', sans-serif;
      font-size: 50px;
      font-weight: 100px;
      color: #39CCCC;
      font-style: bold;
      margin-top: 60px;
} 

.innerartist {
   font-family: 'Open-Sans', sans-serif;
      font-size: 20px;
      font-weight: 100px;
      padding: 20px;
      font-style: italic;
}

.container p {
   font-family: 'Open-Sans', sans-serif;
      font-size: 20px;
      font-weight: 100px;
}
.row img:hover {
  width: 
}

.caption {
 margin: auto;
}

.intro {
    top: 0;
    color: #39CCCC;
    background-color: white;
    padding: 50px 0;
    text-align: center;
    }

#firstheader {
  font-family:'Lato', sans-serif;
  font-size: 100px;
  padding-bottom: 30px;
  font-style: italic;
}    

.innerchild{
  font-size: 20px;
  padding-bottom: 30px;
}
.section2 {

    top: 0;
    color: #646464;
    padding: 70px 0;
    text-align: center;
    background-color: white;
    }



 .section3 { 
   background-color: #F6F6F6;
   padding: 100px;
   font-family: 'Lato', sans-serif;
   font-size: 50px;
   text-align: center;
   background-color: #39CCCC;

 }   

.section4 { 
  padding: 30px;

}

    .section {
    top: 0;
    color: white;
    background-color: white;
    padding: 70px 0;
    text-align: center;
    }

.bio-pic {
  width: 100%;
  /*height: 300px;*/
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
}

.bio-pic img {
  display: inline-block;
}


.bio-pic:hover {
  /*background-color: #39CCCC;*/
  /*opacity: 0.3;*/
}


.bio-pic .linkedin {
  /*display: none;*/
  color: white;
  font-size: 20px;
  text-align: center;
  display: block;
  margin-top: 20px;
}

.bio-pic:hover .linkedin {
  color: #383838;
  font-family: 'Lato', sans-serif;
 /* opacity: 1;*/
  
}

.bio-pic:hover img {
  opacity: 0.3;
}

/*.colorbg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.colorbg:hover {
  opacity: 0.5;
   background-color: #39CCCC;
   color: black;
}
*/

/*.gillian-bio {
background-image: url(img/gillian2.jpg);
    min-height: 330px;
    max-width: 400px;
 

}

.attiya-bio {
  background-image: url(img/attiya2.jpg);
      min-height: 330px;
    max-width: 400px;

}

.soraiya-bio {
  background-image: url(img/soraiya2.jpg);
      min-height: 330px;
    max-width: 400px;
 
}
*/

   
.glyphicon {
  width: 100px;
  font-size: 100px;
}

ul
{
  list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
    display: flex;
}

.page5{
  background-color: #383838; 
  width: 100%;
  font-size: 15px;
  text-align: center;
  color: white;  
  padding: 30px;
 font-family:'Lato', sans-serif;  
 font-weight: 100px;

}

.box2 h1{
font-size: 20px;
font-weight: 100px;
margin: 25px;
display: inline;
}

.box2 {
   width: 350px;
    height: 50px;
    padding: 10px;
    margin: auto;
    background-color: #39CCCC;
}

#phonenumbers {
font-size: 20px;
font-family: 'Lato', sans-serif;
font-weight: 100px;
margin-bottom: 50px;
}

.intro ul, li
{
    display: inline-block;
}

.purpose {
  
  text-align: center;

}

.purpose-cont {
  display: flex;
}

.purpose .text{
  font-size: 15px;
  padding-top: 20px;
}

.team {
  font-size: 50px;
   font-family:'Lato', sans-serif;
   text-align: center;
   padding-bottom: 20px;
  color: #39CCCC;
  font-weight: 700px;
}
